.App {
  text-align: center;

}

ul {
  list-style: none;
}

.container{
  grid-template-columns: 1fr 1fr;
}
.container1{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px; */
}

.landingImage{

  width: 80vw;
}

.vw-80{
  width: 80vw;
}

.ul-display{ 
  display: flex;
 justify-content: center;
  gap: 10px;
  border-bottom: 2px solid black;
 padding-bottom: 15px;
 padding-left: -5px;
  
}
.col-1{
grid-column-start: 1;
margin-right: 20px;
}

.catImage{
  width: 500px;
  border-radius: 2px;
}

.col-2 {

  grid-column-start: 2;
  grid-column-end: span col3-start;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; color: gray}


a:hover { text-decoration: none; color: black}


a:active { text-decoration: none; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  display: grid;
  place-items: center;
  margin-top: 20vh;

  --animation-duration: 20s ;
  
}

.react-chatbot-kit-chat-container {

  
  
}

.react-chatbot-kit-chat-inner-container {
}

.react-chatbot-kit-chat-header {
}

.react-chatbot-kit-chat-input-container {
 
}

.react-chatbot-kit-chat-message-container {
  
}

.react-chatbot-kit-chat-input {
 
  
}

.react-chatbot-kit-chat-input-form {
}

.react-chatbot-kit-chat-input::placeholder {
}

.react-chatbot-kit-chat-btn-send {
}

.react-chatbot-kit-chat-btn-send-icon {
}

.react-chatbot-kit-chat-bot-message-container {
  
  
}

.react-chatbot-kit-chat-bot-avatar-container {
}

.react-chatbot-kit-chat-bot-avatar-icon {
  
}

.react-chatbot-kit-chat-bot-avatar-letter {
}

.react-chatbot-kit-chat-bot-message {


}

.react-chatbot-kit-chat-bot-message-arrow {
  
}

.react-chatbot-kit-chat-bot-loading-icon-container {
}

.chatbot-loader-container {
}

#chatbot-loader #chatbot-loader-dot1 {
}

#chatbot-loader #chatbot-loader-dot2 {
}

#chatbot-loader #chatbot-loader-dot3 {
}

.react-chatbot-kit-error {
}

.react-chatbot-kit-error-container {
}

.react-chatbot-kit-error-header {
}

.react-chatbot-kit-error-docs {
}